---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "Built-in optimized asset support.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Satori",
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
	},
	{
		title: "Pagefind",
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section class="font-sans sm:flex sm:flex-col sm:items-center lg:flex-row lg:justify-between font-bold">
		<div class="lg:w-1/2 lg:mr-10">
		  <h1 class="text-2xl lg:text-2xl lg:leading-8 font-opensans">Hi! Nitin here
			specialize in UX and Visual
			<span class="relative">
			  <span class="block absolute -inset-1 -skew-y-3 bg-blue-700" aria-hidden="true"></span>
			  <span class="relative text-white">annoyed</span>
			</span>
			to help brands & products solve problems that matter.
			Advocating responsible, sustainable, and human user-centric solutions.
		  </h1>
		  <SocialList />
		</div>
		<div class="hidden lg:block sm:mt-5">
		  <img class="mx-auto" width="300px" height="300px" src="/imagee.png"/>
		</div>
	  </section>
	<section aria-label="Blog post list font-sans" class="mt-16">
		<h2 class="title mb-4 text-xl font-sans">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
